name: Package

on:
  push:
    branches: ["main"]
    tags:
      - "*"
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: cargo install just && rustup target add x86_64-pc-windows-gnu && sudo apt-get update -y && sudo apt-get install -y gcc-mingw-w64-x86-64 binutils-mingw-w64-x86-64
      - name: Package
        run: just package
      - name: Run tests
        run: cargo test --verbose
      - uses: actions/upload-artifact@v4
        with:
          name: opendeck-akp05e.plugin
          path: build/
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: build/opendeck-akp05e.plugin.zip
